@model IEnumerable<motorbikemanage.mvc.Models.Bike>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bike_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bike_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- gallery-main -->
<section class="gallery py-lg-4 py-md-3 py-sm-3 py-3" id="gallery">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title txt-center mb-lg-5 mb-md-4 mb-sm-4 mb-3 clr">Our Gallery</h3>
        <div class="row gallery-info">
            <div class="col-lg-6 col-md-8 col-sm-8 gallery-img-grid">
                <div class="gallery-grids">
                    <a><img src="images/g1.jpg" alt="news image" class="img-fluid"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 gallery-img-grid">
                <div class="gallery-grids">
                    <a><img src="images/g2.jpg" alt="news image" class="img-fluid"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 gallery-img-grid">
                <div class="gallery-grids">
                    <a><img src="images/g3.jpg" alt="news image" class="img-fluid"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 gallery-img-grid mt-lg-4 mt-3">
                <div class="gallery-grids">
                    <a><img src="images/g4.jpg" alt="news image" class="img-fluid"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 gallery-img-grid mt-lg-4 mt-3">
                <div class="gallery-grids">
                    <a><img src="images/g5.jpg" alt="news image" class="img-fluid"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-8 gallery-img-grid mt-lg-4 mt-3">
                <div class="gallery-grids">
                    <a><img src="images/g6.jpg" alt="news image" class="img-fluid"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// gallery-main -->
